

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"> S.N </th>
        <th scope="col">full url</th>
        <th scope="col">sort url</th>
        <th scope="col">clicks</th>
      </tr>
    </thead>

    <tbody>

      <% urls.forEach((url,index) => { %>
        <tr>
          <th scope="row">  <%= index+1 %></th>
          <td class="link">  <a href="<%= url.fullUrl %>" target="_blank"> <%= url.fullUrl.substring(0,30)  %> </a> </td>
          <td class="link">  <a href="http://localhost:8080/<%= url.shortUrl  %>"  target="_blank"> http://localhost:8080/<%= url.shortUrl  %> </a> </td>
          <td> <%= url.clicks %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>